:host {
  display: block;

  /** @prop --color-background: background color of the dialog */
  --color-background: #ccd7e0;
  /** @prop --color-text: text color used in the dialog */
  --color-text: #282c37;
  /** @prop --color-link: link color */
  --color-link: #6364ff;
  /** @prop --button-background: background color of the selected instance and the picker button */
  --button-background: #6364ff;
  /** @prop --button-hover: background color of the highlighted instance and the picker button on hover */
  --button-hover: #4c4cff;
  /** @prop --button-color: text color of the selected/highlighted instance and the picker button */
  --button-color: #fff;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size: 1.25em;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

dialog[open] {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

main {
  border: none;
  margin: 1em;
  padding: 1em;
  width: 30em;
  height: 35em;
  max-width: 90vw;
  max-height: 90vh;
  background-color: var(--color-background);
  color: var(--color-text);
  border-radius: 0.25em;
  box-shadow: 0.1em 0.1em 0.1em #000;
}

form {
  display: flex;
  flex-direction: row;
  height: 2em;
}

form input {
  flex-grow: 1;
  border: 1px solid var(--color-text);
}

form input:focus {
  outline: none;
  border: 1px solid var(--button-background);
}

form button {
  border: none;
  background-color: var(--button-background);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.25em;
}

button:hover {
  background-color: var(--button-hover);
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

ul li {
  padding: 0.25em;
  cursor: pointer;
}

ul li.selected {
  background-color: var(--button-background);
  color: var(--button-color);
}

ul li.selected:hover,
ul li:hover {
  background-color: var(--button-hover);
  color: var(--button-color);
}
